### DESASTRES NATURALES

In [ ]:
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt


# 1) Ruta del archivo
DATA_PATH ="disasters.csv"  # CAMBIA ESTE NOMBRE si tu CSV se llama diferente


def cargar_dataset():
    print(" Cargando dataset desde:", DATA_PATH)
    df = pd.read_csv(DATA_PATH)
    print("Dataset cargado correctamente")
    return df
df= cargar_dataset()

hola mundo
 Cargando dataset desde: disasters.csv
Dataset cargado correctamente

In [ ]:
def inspeccion_basica(df: pd.DataFrame):
    print("\n游댳 Dimensiones del dataset (filas, columnas):")
    print(df.shape)

    print("\n游댳 Primeras 5 filas:")
    print(df.head())

    print("\n游댳 Nombres de columnas:")
    print(df.columns.tolist())

    print("\n游댳 Informaci칩n general (tipos de datos y nulos):")
    print(df.info())

    print("\n游댳 Conteo de valores nulos por columna (top 10):")
    print(df.isna().sum().sort_values(ascending=False).head(10))

inspeccion_basica(df)

游댳 Dimensiones del dataset (filas, columnas):
(50000, 12)

游댳 Primeras 5 filas:

         date        country disaster_type  severity_index  casualties  \
0  2021-01-31         Brazil    Earthquake            5.99         111
1  2018-12-23         Brazil  Extreme Heat            6.53         100
2  2020-08-10          India     Hurricane            1.55          22
3  2022-09-15      Indonesia  Extreme Heat            4.55          94
4  2022-09-28  United States      Wildfire            3.80          64

   economic_loss_usd  response_time_hours  aid_amount_usd  \
0         7934365.71                15.62       271603.79
1         8307648.99                 5.03       265873.81
2          765136.99                32.54        49356.49
3         1308251.31                 7.83       237512.88
4         2655864.36                21.90       188910.69

   response_efficiency_score  recovery_days  latitude  longitude
0                      83.21             67   -30.613   -122.557
1                      96.18             55    10.859   -159.194
2                      60.40             22     0.643   -160.978
3                      86.41             47   -33.547     30.350
4                      72.81             42   -19.170   -117.137

游댳 Nombres de columnas:
['date', 'country', 'disaster_type', 'severity_index', 'casualties', 'economic_loss_usd', 'response_time_hours', 'aid_amount_usd', 'response_efficiency_score', 'recovery_days', 'latitude', 'longitude']

游댳 Informaci칩n general (tipos de datos y nulos):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       50000 non-null  object
 1   country                    50000 non-null  object
 2   disaster_type              50000 non-null  object
 3   severity_index             50000 non-null  float64
 4   casualties                 50000 non-null  int64
 5   economic_loss_usd          50000 non-null  float64
 6   response_time_hours        50000 non-null  float64
 7   aid_amount_usd             50000 non-null  float64
 8   response_efficiency_score  50000 non-null  float64
 9   recovery_days              50000 non-null  int64
 10  latitude                   50000 non-null  float64
 11  longitude                  50000 non-null  float64
dtypes: float64(7), int64(2), object(3)
memory usage: 4.6+ MB
None

游댳 Conteo de valores nulos por columna (top 10):
date                         0
country                      0
disaster_type                0
severity_index               0
casualties                   0
economic_loss_usd            0
response_time_hours          0
aid_amount_usd               0
response_efficiency_score    0
recovery_days                0
dtype: int64

In [ ]:
def pruebas_rapidas(df: pd.DataFrame):
    print("\n游댳 Columnas disponibles para an치lisis:")
    print(df.columns.tolist())

    # EJEMPLOS (ajusta los nombres cuando veas las columnas reales):
    if "Year" in df.columns:
        print("\n游늵 N칰mero de eventos por a침o:")
        print(df["Year"].value_counts().sort_index())

    if "Disaster_Type" in df.columns:
        print("\n游늵 Tipos de desastre m치s frecuentes:")
        print(df["Disaster_Type"].value_counts().head(10))



pruebas_rapidas(df)

游댳 Columnas disponibles para an치lisis:
['date', 'country', 'disaster_type', 'severity_index', 'casualties', 'economic_loss_usd', 'response_time_hours', 'aid_amount_usd', 'response_efficiency_score', 'recovery_days', 'latitude', 'longitude']

In [ ]:
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       50000 non-null  object
 1   country                    50000 non-null  object
 2   disaster_type              50000 non-null  object
 3   severity_index             50000 non-null  float64
 4   casualties                 50000 non-null  int64
 5   economic_loss_usd          50000 non-null  float64
 6   response_time_hours        50000 non-null  float64
 7   aid_amount_usd             50000 non-null  float64
 8   response_efficiency_score  50000 non-null  float64
 9   recovery_days              50000 non-null  int64
 10  latitude                   50000 non-null  float64
 11  longitude                  50000 non-null  float64
dtypes: float64(7), int64(2), object(3)
memory usage: 4.6+ MB

date                         0
country                      0
disaster_type                0
severity_index               0
casualties                   0
economic_loss_usd            0
response_time_hours          0
aid_amount_usd               0
response_efficiency_score    0
recovery_days                0
latitude                     0
longitude                    0
dtype: int64

#Se revisa que la informacion este limpia y no haya repetidos

In [ ]:
cols_interes = [
    "severity_index",
    "casualties",
    "economic_loss_usd",
    "response_time_hours",
    "aid_amount_usd",
    "response_efficiency_score",
    "recovery_days",
]

df[cols_interes].describe()
#columnas de nuestro interes

,severity_index,casualties,economic_loss_usd,response_time_hours,aid_amount_usd,response_efficiency_score,recovery_days
count,50000.000000,50000.000000,5.000000e+04,50000.000000,5.000000e+04,50000.000000,50000.000000
mean,5.015769,100.591140,5.068593e+06,12.183027,2.500003e+05,87.574025,49.682560
std,1.942843,65.052064,3.268541e+06,9.259081,1.432275e+05,10.188961,20.098944
min,1.000000,0.000000,5.273900e+02,1.000000,1.660000e+01,29.750000,2.000000
25%,3.660000,51.000000,2.585513e+06,6.270000,1.429663e+05,83.060000,36.000000
50%,4.990000,91.000000,4.548351e+06,10.510000,2.305365e+05,89.180000,49.000000
75%,6.340000,138.000000,6.950615e+06,15.450000,3.352259e+05,94.700000,63.000000
max,10.000000,524.000000,2.445624e+07,63.100000,1.126465e+06,100.000000,112.000000

In [ ]:
paises=df["country"].value_counts()
print(paises)
df["disaster_type"].value_counts(normalize=True) * 100

#Hacemnos el conteo de desastres por paises

#solo tenemos 20 paises lo que nos ahce pensar que los datos de la base de datos ya estan cortados de una base mas grande, ya que es demasiado coincidencia que todos los paises tienen al rededor de solo 2500 desastres

#Tambien el porcentaje de desastres es casi todos cercanos al 0%

country
Brazil           2591
Australia        2563
Turkey           2554
Bangladesh       2553
Spain            2543
China            2539
Chile            2529
Nigeria          2528
Germany          2526
India            2509
Greece           2503
Italy            2503
South Africa     2497
Japan            2472
Indonesia        2467
Canada           2438
Philippines      2437
Mexico           2433
United States    2413
France           2402
Name: count, dtype: int64

disaster_type
Landslide            10.260
Earthquake           10.136
Flood                10.078
Hurricane            10.004
Extreme Heat         10.002
Storm Surge           9.976
Volcanic Eruption     9.966
Wildfire              9.908
Tornado               9.878
Drought               9.792
Name: proportion, dtype: float64

In [ ]:
df_raw = pd.read_excel("disasters2.xlsx") # leer el archivo Excel

# Ver algunas filas
df_raw.head()